.dialog-account {
  font-size: 0;
  padding: 15px 0;
  text-align: center;

  &__sidebar {
    text-align: center;
  }

  &__avatar {
    position: relative;
    margin: 0 auto 25px;
    width: 260px;
    padding-bottom: 260px;

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      max-width: 100%;
      max-height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    padding: 0 0 0 20px;
    font-size: 16px;
  }
}