.header {
    position: relative;
    background: #212c42;
    color: #fff;
    border-bottom: 2px solid #1a9af6;
    margin: 0 0 16px;
    z-index: 10;

  &__logo {
      display: inline-block;
      vertical-align: middle;
      font-size: 0;
      width: 32px;
      margin: 0 24px 0 0;

      img {
          max-width: 100%;
      }
  }
}
